footer {
  background-color: #a3a3a3;
  padding: 1rem 0rem;
}

.div-home {
  width: 100%;
}

.home-banner {
  width: 100%;
  position: relative;
  height: 80vh;
  overflow-x: scroll;
  overflow-y: hidden;
}

.home-banner::-webkit-scrollbar {
  display: none;
}

.home-banner {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.img-home {
  height: 100%;
  width: 100%;
}

.div-home-img {
  width: 100%;
}

.home-content {
  width: 100%;
  padding: 1rem 0rem;
}

.quiz-home {
  position: "relative";
}

.page-head {
  font-size: 4rem;
  font-weight: bold;
  margin: 2rem auto;
  text-align: center;
  font-family: "Righteous", cursive;
}

.modal-div {
  width: 100%;
  position: fixed;
  padding: 0rem;
  top: 50%;
  left: 0em;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  margin: 0rem auto;
  display: flex;
  flex-direction: column;
  z-index: 20;

}

.modal-sub-div {
  position: relative;
  text-align: center;
  margin: 0rem auto;
  padding: 1rem;
  background-color: #e5e7eb;
  box-shadow:0px 0px 10px 4px #D1D5DB;
}

/* .btn-close {
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  color: #e5e7eb;
  background-color: #171717;
}

.btn-submit,
.btn-cancel {
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  color: #e5e7eb;
  background-color: #171717;
} */


.graph {
  border-left: 1px solid #71717A;
  border-bottom: 1px solid #71717A;
  width:60%;
  margin:1rem auto 2rem auto;
}

.toast-class {
  width: 97%;
}

.btn-sign-in {
  background: transparent;
  font-size: var(--txt-125);
  border: 1px solid #F5F5F5;
  color: #F5F5F5;
  outline: none;
  cursor: pointer;
  padding: 0.35rem 0.75rem;
  position: relative;
  /* margin:0rem 0.25rem */
  /* border-radius: 0.25rem; */
  /* top: 0.6em; */
}

.btn-play{
  font-size:1.25rem;
  background-color: #22C55E;
  color:whitesmoke;
  padding:0.5rem 1.5rem;
  cursor: pointer;
  margin:0rem auto;
  border:none;
  outline:none;
}


@media screen and (max-width: 600px) {
  .graph{
    width:auto;
  }

  .btn-sign-in {
    font-size: var(--txt-115);
    /* top: 0.4em; */
  }
}